@import "../utils/variables";
@import "../utils/mixins";

.about {
    overflow: hidden;
    object-fit: cover;
    display: block;
    padding: 0 5rem 5rem 5rem;

    &-img {

        overflow: hidden;
        object-fit: cover;
        width: 100%;
        height: 20rem;
        border-radius: $border-small;
        margin-bottom: 3rem;


        @include tablet-mobil {
            height: 20rem;
            width: 100%;

        }

    }
}