@import "../utils/variables";
@import "../utils/mixins";

.image {
    &-info {
        @include row-space-between-start;
        margin: 3rem 8.7rem;

        &-left {
            @include column-flex-start;
        }

    }

    &-title {
        @include font-property-main-title;
    }

    &-location {
        @include font-property-main-location;
    }

    &-tags {
        @include row-space-between;
        gap: 5rem;
        color: $color-white-2;

        & li {
            background-color: $color-primary;
            padding: $padding-small;
            width: 14rem;
            border-radius: 1rem;
            @include font-property-3;
        }
    }
}