@import "../utils/variables";
@import "../utils/mixins";

.image {
    &-info {
        @include row-space-between-start;
        margin: 3rem 8rem;


        @include desktop {
            @include column-space-between;
            flex-flow: wrap-reverse;
        }

        &-left,
        &-right {
            @include column-flex-start;

            @include tablet-mobil {
                @include column-center;
            }
        }
    }

    &-title {
        @include font-property-main-title;

    }

    &-location {
        @include font-property-main-location;
    }

    &-tags {

        @include row-space-between;
        flex-flow: wrap;
        gap: 2rem;
        color: $color-white-2;


        @include tablet-mobil {
            @include display-flex-column;

        }


        & li {
            background-color: $color-primary;
            padding: 1rem;
            width: 15rem;
            border-radius: $border-small;
            box-shadow: $box-shadow;
            @include font-property-3;
        }
    }
}

.host {
    @include row-space-between;

    &-name {
        @include font-property-main-location;
    }

    &-picture {
        border-radius: 50%;
        width: 8rem;
        box-shadow: $box-shadow;

    }

    &-rating {

        @include font-property-main-location;
    }
}

.accordion-container {
    @include row-space-between;
    margin: 0 8rem;

    @include tablet-mobil {
        @include column-center;

    }

}