@import "../utils/variables";
@import "../utils/mixins";

.slider {
    position: relative;
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    padding: 0 9rem;


    @include tablet-mobil {
        padding: 0 3rem !important;
    }

    &-arrow-left {
        @include arrow;
        top: 50%;
        left: 10%;


        @include desktop {
            left: 15%;
        }
    }

    &-arrow-right {
        @include arrow;
        top: 50%;
        right: 10%;


        @include desktop {
            right: 15%;
        }
    }

    &-slide-active {
        @include slideResponsive;

    }

    &-slide {
        @include slideResponsive;
        display: none;



    }
}