$color-primary: #ff6060;
$color-black: black;
$color-white: white;
$color-white-2: #f7f7f7;
$color-grey: rgb(238, 232, 232);

$margin-small: 1.3rem;
$margin-medium: 4rem;
$margin-large: 8rem;

$padding-small: 1.3rem;
$padding-medium: 2rem;
$padding-large: 4rem;
$padding-xlarge: 8rem;

$border-small: 0.5rem;

$box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
$box-shadow1: rgba(14, 14, 16, 0.55) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.8) 0px 8px 16px -8px;